.defaultSpan {
  color: #0e0b0b;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 30px 40px;
  text-align: center;
  text-shadow: #e13535 -1px -1px; }